/*
    Colour Codes:
    #FFFDFC --> off white
    #F2F0EF --> light grey
    #1F3F43 --> dark teal
    #05636F --> middle dark teal
    #3EAEA8 --> middle teal
    #7FD4CF --> mid light teal 
    #CAEEEC --> light teal
*/

/* --------------------
    CONTENTS:
    1. global
    2. header
        2a. nav
    3.task master-list
    4. create new task
    5. account
-------------------- */


/* ---------- 1. global styles ---------- */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #1F3F43;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
    color: #fffdfc;
    text-decoration: none;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}
.big-content {
    max-width: 950px;
    width: 90%;
    margin: 0 auto;
}



/* ---------- 2. header ---------- */
header {
  background-color: #05636F;
  color: #fffdfc;
}
header h1 {
  margin-top: 100px;
}
header h2 {
  padding: 20px;
}

/* 2a. nav */
nav {
  background-color: #05636F;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 18px;
}

nav .content-wrap {
  padding: 30px 0;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  padding: 10px;
  transition: background-color 0.2s;
}

nav a:hover {
  background-color: #7FD4CF;
  color: #1F3F43;
}

nav .logo {
  width: 3em;
  transition: background-color 0.2s;
}

/* ---------- 3. task master-list ---------- */
    /*also applies to your tasks*/
.big-content ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}
.big-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr;
    grid-template-rows: repeat(2, 1fr);
}
.status {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}

/* ---------- 4. create new task ---------- */
.create-task {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: .5fr 1fr .5fr;
    grid-gap: 20px;
}
.custom-input {
  grid-column: 1 / -1;
}
.rooms {
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}
.users {
  display: grid;
  grid-template-columns: .25fr 1fr;
  grid-template-rows: auto;
  grid-gap: 5px;
}
.create-task .btn {
  grid-column: 2 / 3;
  background-color: #05636F;
  color: #fffdfc;
}

/* ---------- 5. account ---------- */
.side-by-side {
  display: flex;
  justify-content: space-between;
}
.current-user {
  border-right: 2px solid #1F3F43;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3 1fr);
  grid-gap: 5px;
  justify-content: space-between;
  align-content: center;
}
.placeholder {
  width: 1fr;
  height: 30px;
  background-color: lightgray;
  border: 2px solid grey;
}
.account-info h3 {
  margin-bottom: 5px;
}
.account-info p {
  margin-top: 5px;
}